* {
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

body {
  margin: 0;
}

.container {
  width: 1140px;
  margin: 0 auto;
}

.header {
  background: url(../img/main_bg.jpg) center center/cover no-repeat;
  height: 800px;
  padding: 39px 0 62px 0;
}

.logo_img {
  display: block;
  margin: 0 auto;
}

.logo_text {
  text-align: center;
  margin-top: 14px;
  font-family: Roboto;
  font-size: 15px;
  font-weight: 500;
  text-transform: uppercase;
  color: #ffffff;
}

.header_title {
  margin-top: 53px;
  margin-bottom: 0;
  text-align: center;
  font-family: Roboto;
  font-size: 41px;
  line-height: 30px;
  font-weight: 900;
  text-transform: uppercase;
  color: #f9bf3b;
}

h2.header_title {
  margin-top: 30px;
}

.header_title_big {
  margin-top: 21px;
  margin-bottom: 0;
  text-align: center;
  font-family: Roboto;
  font-size: 80px;
  line-height: 60px;
  font-weight: 900;
  text-transform: uppercase;
  color: #ffffff;
}

.header_text {
  margin-top: 23px;
  text-align: center;
  font-family: Roboto;
  font-size: 21px;
  line-height: 28px;
  font-weight: 300;
  color: #ffffff;
}

.header_text span {
  font-weight: 700;
  color: #f9bf3b;
}

.header_btn {
  display: block;
  margin: 0 auto;
  margin-top: 69px;
  width: 321px;
  height: 80px;
  background-image: linear-gradient(0.0deg, #2798b9 0%, #3ab6da 100%);
  border: 1px solid rgba(0, 0, 0, 0.22);
  border-radius: 5px;
  box-shadow: inset 0px -3px 0px 0px rgba(0, 0, 0, 0.17);

  text-align: center;
  font-family: 'Roboto';
  font-size: 19px;
  font-weight: 400;
  text-transform: uppercase;
  text-shadow: -1px -1px 0px rgba(0, 0, 0, 0.21);
  color: #ffffff;
}

.down_text {
  margin-top: 69px;
  text-align: center;
  font-family: Roboto;
  font-size: 15px;
  font-weight: 100;
  text-transform: uppercase;
  color: #ffffff;
}

.down_img {
  display: block;
  margin: 0 auto;
  margin-top: 13px;
}

.wait {
  padding: 85px 0 75px 0;
  height: 604px;
  background-color: #efefef;
}

.wait_title {
  text-align: center;
  margin: 0;
  font-family: Roboto;
  font-size: 30px;
  line-height: 23px;
  font-weight: 400;
  text-transform: uppercase;
  color: #252525;
}

.wait_divider {
  margin: 0 auto;
  margin-top: 19px;
  width: 217px;
  height: 4px;
  background-color: #f9bf3b;
}

.wait_text {
  text-align: center;
  margin-top: 17px;
  font-family: Roboto;
  font-size: 23px;
  line-height: 20px;
  font-weight: 400;
  color: #4a4a4a;
}

.wrap {
  margin-top: 45px;
  display: flex;
  justify-content: space-between;
  align-items: start;
}

.wait_item {
  width: 345px;
}

.wait_descr {
  text-align: center;
  margin-top: 33px;
}


